
.navbar {
  height: 70px;
 color:#78909C;
 background-color: #CFD8DC;
 
.cursive {
  font-family: cursive;
}
 font-family: cursive;

  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .item {
      display: flex;
      align-items: center;
      font-size: 18px;
      font-family: cursive;
    }

    .left {
      display: flex;
      align-items: center;
      gap: 25px;
    }
    .center {
      font-size: 30px;
      letter-spacing: 2px;
      
    
      font-family: 'Dancing Script', cursive, sans-serif;

      
    }
    .item:hover {
      color:#ECEFF1;
      /* Add any other styles you want for the hover effect */
    }
    .right {
      display: flex;
      align-items: center;
      gap: 25px;

      .icons {
        display: flex;
        gap: 15px;
        color:#78909C;
        cursor: pointer;

        .cartIcon {
          position: relative;

          span {
            font-size: 12px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            color:#78909C;
            color: white;
            position: absolute;
            right: -10px;
            top: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: cursive;
          }
        }
      }
    }
  }
}
